# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
npm-debug.log

# JetBrains

*.iml
.idea/

# Until we as a team decide we need/want commit templates

.git-commit-template

# OSX
.DS_store

# ignore lib so lib and src don't get out of sync
lib
